*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 2em;
  

}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header{
  display: flex;
  padding: 1em;

}
.logotipo {
  width: 100%;
  
}
h1 {
  width: 79%;
  margin: 1em;
  margin-top: 2em;
  /* margin-bottom: 2em; */
  text-align: left;
  vertical-align: bottom;
}
h2{
  margin-left: 2em;
  margin-right: 2em;
}
h3 {
  margin-top: 2em;
  margin-left: 2em;
  
}
h4 {
  margin-left: 16em;
  margin-right: 2em;
}

p {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
nav {
  /* height: 0%; */
  width:100%;
  background-color: #333;
  padding: 1rem;
 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0em;
  padding: 0;
 
}

nav ul li {
  margin: 0em;
  padding: 2.4em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
button{
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 10em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}







